{"openapi":"3.1.0","info":{"title":"GitHub v3 REST API","contact":{"url":"https://support.github.com/contact?tags=dotcom-rest-api","name":"Support"},"license":{"url":"https://spdx.org/licenses/MIT","name":"MIT"},"version":"1.1.4","description":"GitHub's v3 REST API.","termsOfService":"https://docs.github.com/articles/github-terms-of-service"},"tags":[{"name":"actions","description":"Endpoints to manage GitHub Actions using the REST API."},{"name":"activity","description":"Activity APIs provide access to notifications, subscriptions, and timelines."},{"name":"apps","description":"Information for integrations and installations."},{"name":"billing","description":"Monitor charges and usage from Actions and Packages."},{"name":"checks","description":"Rich interactions with checks run by your integrations."},{"name":"code-scanning","description":"Retrieve code scanning alerts from a repository."},{"name":"codes-of-conduct","description":"Insight into codes of conduct for your communities."},{"name":"codespaces","description":"Endpoints to manage Codespaces using the REST API."},{"name":"emojis","description":"List emojis available to use on GitHub."},{"name":"enterprise-admin","description":"Administer a GitHub enterprise."},{"name":"dependabot","description":"Endpoints to manage Dependabot."},{"name":"dependency-graph","description":"Endpoints to access Dependency Graph features."},{"name":"gists","description":"View, modify your gists."},{"name":"git","description":"Raw Git functionality."},{"name":"gitignore","description":"View gitignore templates"},{"name":"interactions","description":"Owner or admin management of users interactions."},{"name":"issues","description":"Interact with GitHub Issues."},{"name":"licenses","description":"View various OSS licenses."},{"name":"markdown","description":"Render GitHub flavored markdown"},{"name":"merge-queue","description":"Interact with GitHub Merge Queues."},{"name":"meta","description":"Endpoints that give information about the API."},{"name":"migrations","description":"Move projects to or from GitHub."},{"name":"oauth-authorizations","description":"Manage access of OAuth applications"},{"name":"oidc","description":"Endpoints to manage GitHub OIDC configuration using the REST API."},{"name":"orgs","description":"Interact with GitHub Orgs."},{"name":"packages","description":"Manage packages for authenticated users and organizations."},{"name":"projects","description":"Interact with GitHub Projects."},{"name":"pulls","description":"Interact with GitHub Pull Requests."},{"name":"rate-limit","description":"Check your current rate limit status"},{"name":"reactions","description":"Interact with reactions to various GitHub entities."},{"name":"repos","description":"Interact with GitHub Repos."},{"name":"scim","description":"Provisioning of GitHub organization membership for SCIM-enabled providers."},{"name":"search","description":"Look for stuff on GitHub."},{"name":"secret-scanning","description":"Retrieve secret scanning alerts from a repository."},{"name":"server-statistics","description":"GHES statistics"},{"name":"teams","description":"Interact with GitHub Teams."},{"name":"users","description":"Interact with and view information about users and also current user."}],"security":[{}],"servers":[{"url":"https://api.github.com"}],"paths":{"/":{"get":{"operationId":"meta/root","summary":"GitHub API Root","description":"Get Hypermedia links to resources accessible in GitHub's REST API","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/overview/resources-in-the-rest-api#root-endpoint","description":"API method documentation"},"tags":["meta"],"security":[{"installationToken":["metadata:read"]}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/root"},"examples":{"default":{"$ref":"#/components/examples/root"}}}}}},"x-github":{"category":"meta","githubCloudOnly":false,"enabledForGitHubApps":true}}},"/app":{"get":{"operationId":"apps/get-authenticated","summary":"Get the authenticated app","description":"Returns the GitHub App associated with the authentication credentials used. To see how many app installations are associated with this GitHub App, see the `installations_count` in the response. For more details about your app's installations, see the \"[List installations for the authenticated app](https://docs.github.com/rest/reference/apps#list-installations-for-the-authenticated-app)\" endpoint.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/apps#get-the-authenticated-app","description":"API method documentation"},"tags":["apps"],"security":[{"appJWT":[]}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/integration"},"examples":{"default":{"$ref":"#/components/examples/integration"}}}}}},"x-github":{"category":"apps","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/zen":{"get":{"operationId":"meta/get-zen","summary":"Get the Zen of GitHub","description":"Get a random sentence from the Zen of GitHub","deprecated":false,"tags":["meta"],"security":[{"installationToken":[]},{}],"responses":{"200":{"description":"Response","content":{"text/plain":{"schema":{"type":"string"}}}}},"x-github":{"category":"meta","githubCloudOnly":false,"enabledForGitHubApps":true}}},"/meta":{"get":{"operationId":"meta/get","summary":"Get GitHub meta information","description":"Returns meta information about GitHub, including a list of GitHub's IP addresses. For more information, see \"[About GitHub's IP addresses](https://docs.github.com/articles/about-github-s-ip-addresses/).\"\n\n**Note:** The IP addresses shown in the documentation's response are only example values. You must always query the API directly to get the latest list of IP addresses.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/meta#get-github-meta-information","description":"API method documentation"},"tags":["meta"],"security":[{"installationToken":["metadata:read"]},{}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api-overview"},"examples":{"default":{"$ref":"#/components/examples/api-overview"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"x-github":{"category":"meta","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/user":{"get":{"operationId":"users/get-authenticated","summary":"Get the authenticated user","description":"If the authenticated user is authenticated through basic authentication or OAuth with the `user` scope, then the response lists public and private profile information.\n\nIf the authenticated user is authenticated through OAuth without the `user` scope, then the response lists only public profile information.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#get-the-authenticated-user","description":"API method documentation"},"tags":["users"],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/private-user"},{"$ref":"#/components/schemas/public-user"}]},"examples":{"response-with-public-profile-information":{"$ref":"#/components/examples/private-user-response-with-public-profile-information","summary":"Response with public profile information"},"response-with-public-and-private-profile-information":{"$ref":"#/components/examples/private-user-response-with-public-and-private-profile-information","summary":"Response with public and private profile information"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"}},"x-github":{"category":"users","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}},"patch":{"operationId":"users/update-authenticated","summary":"Update the authenticated user","description":"**Note:** If your email is set to private and you send an `email` parameter as part of this request to update your profile, your privacy settings are still enforced: the email address will not be displayed on your public profile or via the API.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users/#update-the-authenticated-user","description":"API method documentation"},"tags":["users"],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/private-user"},"examples":{"default":{"$ref":"#/components/examples/private-user"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"bio":{"type":"string","description":"The new short biography of the user."},"blog":{"type":"string","examples":["blog.example.com"],"description":"The new blog URL of the user."},"name":{"type":"string","examples":["Omar Jahandar"],"description":"The new name of the user."},"email":{"type":"string","examples":["omar@example.com"],"description":"The publicly visible email address of the user."},"company":{"type":"string","examples":["Acme corporation"],"description":"The new company of the user."},"hireable":{"type":"boolean","description":"The new hiring availability of the user."},"location":{"type":"string","examples":["Berlin, Germany"],"description":"The new location of the user."},"twitter_username":{"type":["string","null"],"examples":["therealomarj"],"description":"The new Twitter username of the user."}}}}}},"x-github":{"category":"users","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/feeds":{"get":{"operationId":"activity/get-feeds","summary":"Get feeds","description":"GitHub provides several timeline resources in [Atom](http://en.wikipedia.org/wiki/Atom_(standard)) format. The Feeds API lists all the feeds available to the authenticated user:\n\n*   **Timeline**: The GitHub global public timeline\n*   **User**: The public timeline for any user, using [URI template](https://docs.github.com/rest/overview/resources-in-the-rest-api#hypermedia)\n*   **Current user public**: The public timeline for the authenticated user\n*   **Current user**: The private timeline for the authenticated user\n*   **Current user actor**: The private timeline for activity created by the authenticated user\n*   **Current user organizations**: The private timeline for the organizations the authenticated user is a member of.\n*   **Security advisories**: A collection of public announcements that provide information about security-related vulnerabilities in software on GitHub.\n\n**Note**: Private feeds are only returned when [authenticating via Basic Auth](https://docs.github.com/rest/overview/other-authentication-methods#basic-authentication) since current feed URIs use the older, non revocable auth tokens.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/activity#get-feeds","description":"API method documentation"},"tags":["activity"],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/feed"},"examples":{"default":{"$ref":"#/components/examples/feed"}}}}}},"x-github":{"category":"activity","subcategory":"feeds","githubCloudOnly":false,"enabledForGitHubApps":true}}},"/gists":{"get":{"operationId":"gists/list","summary":"List gists for the authenticated user","description":"Lists the authenticated user's gists or if called anonymously, this endpoint returns all public gists:","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/gists#list-gists-for-the-authenticated-user","description":"API method documentation"},"tags":["gists"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/since","description":"Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/base-gist"}},"examples":{"default":{"$ref":"#/components/examples/base-gist-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"}},"x-github":{"category":"gists","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}},"post":{"operationId":"gists/create","summary":"Create a gist","description":"Allows you to add a new gist with one or more files.\n\n**Note:** Don't name your files \"gistfile\" with a numerical suffix. This is the format of the automatic naming scheme that Gist uses internally.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/gists#create-a-gist","description":"API method documentation"},"tags":["gists"],"responses":{"201":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gist-simple"},"examples":{"default":{"$ref":"#/components/examples/gist"}}}},"headers":{"Location":{"required":false,"schema":{"type":"string"},"deprecated":false,"style":"simple","explode":false,"example":"https://api.github.com/gists/aa5a315d61ae9438b18d"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["files"],"properties":{"files":{"type":"object","examples":[{"hello.rb":{"content":"puts \"Hello, World!\""}}],"description":"Names and content for the files that make up the gist","additionalProperties":{"type":"object","required":["content"],"properties":{"content":{"type":"string","readOnly":false,"description":"Content of the file"}}}},"public":{"oneOf":[{"type":"boolean","default":false,"examples":[true],"description":"Flag indicating whether the gist is public"},{"enum":["true","false"],"type":"string","default":"false","examples":["true"]}]},"description":{"type":"string","examples":["Example Ruby script"],"description":"Description of the gist"}}},"examples":{"default":{"value":{"files":{"README.md":{"content":"Hello World"}},"public":false,"description":"Example of a gist"}}}}}},"x-github":{"category":"gists","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/users":{"get":{"operationId":"users/list","summary":"List users","description":"Lists all users, in the order that they signed up on GitHub. This list includes personal user accounts and organization accounts.\n\nNote: Pagination is powered exclusively by the `since` parameter. Use the [Link header](https://docs.github.com/rest/overview/resources-in-the-rest-api#link-header) to get the URL for the next page of users.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#list-users","description":"API method documentation"},"tags":["users"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/since-user","description":"A user ID. Only return users with an ID greater than this ID."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/simple-user"}},"examples":{"default":{"$ref":"#/components/examples/simple-user-items"}}}},"headers":{"Link":{"required":false,"schema":{"type":"string"},"deprecated":false,"style":"simple","explode":false,"example":"<https://api.github.com/users?since=135>; rel=\"next\""}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"x-github":{"category":"users","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/emojis":{"get":{"operationId":"emojis/get","summary":"Get emojis","description":"Lists all the emojis available to use on GitHub.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/emojis#get-emojis","description":"API method documentation"},"tags":["emojis"],"security":[{"installationToken":[]}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}},"examples":{"default":{"$ref":"#/components/examples/emojis-get"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"x-github":{"category":"emojis","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/events":{"get":{"operationId":"activity/list-public-events","summary":"List public events","description":"We delay the public events feed by five minutes, which means the most recent event returned by the public events API actually occurred at least five minutes ago.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/activity#list-public-events","description":"API method documentation"},"tags":["activity"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/event"}},"examples":{"default":{"$ref":"#/components/examples/public-events-items"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"503":{"$ref":"#/components/responses/service_unavailable","description":"Service unavailable"}},"x-github":{"category":"activity","subcategory":"events","githubCloudOnly":false,"enabledForGitHubApps":true}}},"/issues":{"get":{"operationId":"issues/list","summary":"List issues assigned to the authenticated user","description":"List issues assigned to the authenticated user across all visible repositories including owned repositories, member\nrepositories, and organization repositories. You can use the `filter` query parameter to fetch issues that are not\nnecessarily assigned to you.\n\n\n**Note**: GitHub's REST API v3 considers every pull request an issue, but not every issue is a pull request. For this\nreason, \"Issues\" endpoints may return both issues and pull requests in the response. You can identify pull requests by\nthe `pull_request` key. Be aware that the `id` of a pull request returned from \"Issues\" endpoints will be an _issue id_. To find out the pull\nrequest id, use the \"[List pull requests](https://docs.github.com/rest/reference/pulls#list-pull-requests)\" endpoint.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/issues#list-issues-assigned-to-the-authenticated-user","description":"API method documentation"},"tags":["issues"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/since","description":"Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"name":"pulls","in":"query","required":false,"schema":{"type":"boolean"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/direction","description":"The direction to sort the results by."},{"name":"orgs","in":"query","required":false,"schema":{"type":"boolean"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"state","in":"query","description":"Indicates the state of the issues to return. Can be either `open`, `closed`, or `all`.","required":false,"schema":{"enum":["open","closed","all"],"type":"string","default":"open"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"filter","in":"query","description":"Indicates which sorts of issues to return. `assigned` means issues assigned to you. `created` means issues created by you. `mentioned` means issues mentioning you. `subscribed` means issues you're subscribed to updates for. `all` or `repos` means all issues you can see, regardless of participation or creation.","required":false,"schema":{"enum":["assigned","created","mentioned","subscribed","repos","all"],"type":"string","default":"assigned"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"name":"sort","in":"query","description":"What to sort results by. Can be either `created`, `updated`, `comments`.","required":false,"schema":{"enum":["created","updated","comments"],"type":"string","default":"created"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"owned","in":"query","required":false,"schema":{"type":"boolean"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"collab","in":"query","required":false,"schema":{"type":"boolean"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/labels","description":"A list of comma separated label names. Example: `bug,ui,@high`"}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/issue"}},"examples":{"default":{"$ref":"#/components/examples/issue-with-repo-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"x-github":{"category":"issues","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/octocat":{"get":{"operationId":"meta/get-octocat","summary":"Get Octocat","description":"Get the octocat as ASCII art","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/meta#get-octocat","description":"API method documentation"},"tags":["meta"],"security":[{"installationToken":[]}],"parameters":[{"name":"s","in":"query","description":"The words to show in Octocat's speech bubble","required":false,"schema":{"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/octocat-stream":{"schema":{"type":"string"},"examples":{"default":{"$ref":"#/components/examples/octocat"}}}}}},"x-github":{"category":"meta","githubCloudOnly":false,"enabledForGitHubApps":true}}},"/licenses":{"get":{"operationId":"licenses/get-all-commonly-used","summary":"Get all commonly used licenses","description":"","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/licenses#get-all-commonly-used-licenses","description":"API method documentation"},"tags":["licenses"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"name":"featured","in":"query","required":false,"schema":{"type":"boolean"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/license-simple"}},"examples":{"default":{"$ref":"#/components/examples/license-simple-items"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"x-github":{"category":"licenses","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/markdown":{"post":{"operationId":"markdown/render","summary":"Render a Markdown document","description":"","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/markdown#render-a-markdown-document","description":"API method documentation"},"tags":["markdown"],"security":[{"installationToken":[]}],"responses":{"200":{"description":"Response","content":{"text/html":{"schema":{"type":"string"}}},"headers":{"Content-Type":{"$ref":"#/components/headers/content-type"},"Content-Length":{"required":false,"schema":{"type":"string"},"deprecated":false,"style":"simple","explode":false,"example":"279"},"X-CommonMarker-Version":{"$ref":"#/components/headers/x-common-marker-version"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["text"],"properties":{"mode":{"enum":["markdown","gfm"],"type":"string","default":"markdown","examples":["markdown"],"description":"The rendering mode. Can be either `markdown` or `gfm`."},"text":{"type":"string","description":"The Markdown text to render in HTML."},"context":{"type":"string","description":"The repository context to use when creating references in `gfm` mode.  For example, setting `context` to `octo-org/octo-repo` will change the text `#42` into an HTML link to issue 42 in the `octo-org/octo-repo` repository."}}}}}},"x-github":{"category":"markdown","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/user/keys":{"get":{"operationId":"users/list-public-ssh-keys-for-authenticated-user","summary":"List public SSH keys for the authenticated user","description":"Lists the public SSH keys for the authenticated user's GitHub account. Requires that you are authenticated via Basic Auth or via OAuth with at least `read:public_key` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#list-public-ssh-keys-for-the-authenticated-user","description":"API method documentation"},"tags":["users"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/key"}},"examples":{"default":{"$ref":"#/components/examples/key-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"users","subcategory":"keys","githubCloudOnly":false,"enabledForGitHubApps":false}},"post":{"operationId":"users/create-public-ssh-key-for-authenticated-user","summary":"Create a public SSH key for the authenticated user","description":"Adds a public SSH key to the authenticated user's GitHub account. Requires that you are authenticated via Basic Auth, or OAuth with at least `write:public_key` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#create-a-public-ssh-key-for-the-authenticated-user","description":"API method documentation"},"tags":["users"],"responses":{"201":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/key"},"examples":{"default":{"$ref":"#/components/examples/key"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key"],"properties":{"key":{"type":"string","pattern":"^ssh-(rsa|dss|ed25519) |^ecdsa-sha2-nistp(256|384|521) ","description":"The public SSH key to add to your GitHub account."},"title":{"type":"string","examples":["Personal MacBook Air"],"description":"A descriptive name for the new key."}}}}}},"x-github":{"category":"users","subcategory":"keys","githubCloudOnly":false,"enabledForGitHubApps":false}}},"/user/orgs":{"get":{"operationId":"orgs/list-for-authenticated-user","summary":"List organizations for the authenticated user","description":"List organizations for the authenticated user.\n\n**OAuth scope requirements**\n\nThis only lists organizations that your authorization allows you to operate on in some way (e.g., you can list teams with `read:org` scope, you can publicize your organization membership with `user` scope, etc.). Therefore, this API requires at least `user` or `read:org` scope. OAuth requests with insufficient scope receive a `403 Forbidden` response.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/orgs#list-organizations-for-the-authenticated-user","description":"API method documentation"},"tags":["orgs"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/organization-simple"}},"examples":{"default":{"$ref":"#/components/examples/organization-simple-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"}},"x-github":{"category":"orgs","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/orgs/{org}":{"get":{"operationId":"orgs/get","summary":"Get an organization","description":"To see many of the organization response values, you need to be an authenticated organization owner with the `admin:org` scope. When the value of `two_factor_requirement_enabled` is `true`, the organization requires all members, billing managers, and outside collaborators to enable [two-factor authentication](https://docs.github.com/articles/securing-your-account-with-two-factor-authentication-2fa/).\n\nGitHub Apps with the `Organization plan` permission can use this endpoint to retrieve information about an organization's GitHub plan. See \"[Authenticating with GitHub Apps](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/)\" for details. For an example response, see 'Response with GitHub plan information' below.\"","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/orgs#get-an-organization","description":"API method documentation"},"tags":["orgs"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/org","description":"The organization name. The name is not case sensitive."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization-full"},"examples":{"default-response":{"$ref":"#/components/examples/organization-full-default-response","summary":"Default response"}}}}},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"orgs","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}},"patch":{"operationId":"orgs/update","summary":"Update an organization","description":"**Parameter Deprecation Notice:** GitHub will replace and discontinue `members_allowed_repository_creation_type` in favor of more granular permissions. The new input parameters are `members_can_create_public_repositories`, `members_can_create_private_repositories` for all organizations and `members_can_create_internal_repositories` for organizations associated with an enterprise account using GitHub Enterprise Cloud or GitHub Enterprise Server 2.20+. For more information, see the [blog post](https://developer.github.com/changes/2019-12-03-internal-visibility-changes).\n\nEnables an authenticated organization owner with the `admin:org` scope to update the organization's profile and member privileges.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/orgs/#update-an-organization","description":"API method documentation"},"tags":["orgs"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/org","description":"The organization name. The name is not case sensitive."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization-full"},"examples":{"default":{"$ref":"#/components/examples/organization-full"}}}}},"409":{"$ref":"#/components/responses/conflict","description":"Conflict"},"422":{"description":"Validation failed","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/validation-error"},{"$ref":"#/components/schemas/validation-error-simple"}]}}}}},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"blog":{"type":"string","examples":["\"http://github.blog\""]},"name":{"type":"string","description":"The shorthand name of the company."},"email":{"type":"string","description":"The publicly visible email address."},"company":{"type":"string","description":"The company name."},"location":{"type":"string","description":"The location."},"description":{"type":"string","description":"The description of the company."},"billing_email":{"type":"string","description":"Billing email address. This address is not publicized."},"twitter_username":{"type":"string","description":"The Twitter username of the company."},"has_repository_projects":{"type":"boolean","description":"Whether repositories that belong to the organization can use repository projects."},"members_can_create_pages":{"type":"boolean","default":true,"description":"Whether organization members can create GitHub Pages sites. Existing published sites will not be impacted."},"has_organization_projects":{"type":"boolean","description":"Whether an organization can use organization projects."},"default_repository_permission":{"enum":["read","write","admin","none"],"type":"string","default":"read","description":"Default permission level members have for organization repositories."},"members_can_create_public_pages":{"type":"boolean","default":true,"description":"Whether organization members can create public GitHub Pages sites. Existing published sites will not be impacted."},"members_can_create_repositories":{"type":"boolean","default":true,"description":"Whether of non-admin organization members can create repositories. **Note:** A parameter can override this parameter. See `members_allowed_repository_creation_type` in this table for details."},"members_can_create_private_pages":{"type":"boolean","default":true,"description":"Whether organization members can create private GitHub Pages sites. Existing published sites will not be impacted."},"members_can_fork_private_repositories":{"type":"boolean","default":false,"description":"Whether organization members can fork private organization repositories."},"members_can_create_public_repositories":{"type":"boolean","description":"Whether organization members can create public repositories, which are visible to anyone. For more information, see \"[Restricting repository creation in your organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/restricting-repository-creation-in-your-organization)\" in the GitHub Help documentation."},"members_can_create_private_repositories":{"type":"boolean","description":"Whether organization members can create private repositories, which are visible to organization members with permission. For more information, see \"[Restricting repository creation in your organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/restricting-repository-creation-in-your-organization)\" in the GitHub Help documentation."},"members_allowed_repository_creation_type":{"enum":["all","private","none"],"type":"string","description":"Specifies which types of repositories non-admin organization members can create. `private` is only available to repositories that are part of an organization on GitHub Enterprise Cloud. \n**Note:** This parameter is deprecated and will be removed in the future. Its return value ignores internal repositories. Using this parameter overrides values set in `members_can_create_repositories`. See the parameter deprecation notice in the operation description for details."},"members_can_create_internal_repositories":{"type":"boolean","description":"Whether organization members can create internal repositories, which are visible to all enterprise members. You can only allow members to create internal repositories if your organization is associated with an enterprise account using GitHub Enterprise Cloud or GitHub Enterprise Server 2.20+. For more information, see \"[Restricting repository creation in your organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/restricting-repository-creation-in-your-organization)\" in the GitHub Help documentation."}}},"examples":{"default":{"value":{"name":"github","email":"mona@github.com","company":"GitHub","location":"San Francisco","description":"GitHub, the company.","billing_email":"mona@github.com","twitter_username":"github","default_repository_permission":"read","members_can_create_repositories":true,"members_allowed_repository_creation_type":"all"}}}}}},"x-github":{"category":"orgs","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/rate_limit":{"get":{"operationId":"rate-limit/get","summary":"Get rate limit status for the authenticated user","description":"**Note:** Accessing this endpoint does not count against your REST API rate limit.\n\n**Note:** The `rate` object is deprecated. If you're writing new API client code or updating existing code, you should use the `core` object instead of the `rate` object. The `core` object contains the same information that is present in the `rate` object.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/rate-limit#get-rate-limit-status-for-the-authenticated-user","description":"API method documentation"},"tags":["rate-limit"],"security":[{"installationToken":[]}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/rate-limit-overview"},"examples":{"default":{"$ref":"#/components/examples/rate-limit-overview"}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/x-rate-limit-limit"},"X-RateLimit-Reset":{"$ref":"#/components/headers/x-rate-limit-reset"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/x-rate-limit-remaining"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"rate-limit","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/user/repos":{"get":{"operationId":"repos/list-for-authenticated-user","summary":"List repositories for the authenticated user","description":"Lists repositories that the authenticated user has explicit permission (`:read`, `:write`, or `:admin`) to access.\n\nThe authenticated user has explicit permission to access repositories they own, repositories where they are a collaborator, and repositories that they can access through an organization membership.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/repos#list-repositories-for-the-authenticated-user","description":"API method documentation"},"tags":["repos"],"security":[{"oauth2":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/since","description":"Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"name":"type","in":"query","description":"Limit results to repositories of the specified type. Will cause a `422` error if used in the same request as **visibility** or **affiliation**.","required":false,"schema":{"enum":["all","owner","public","private","member"],"type":"string","default":"all"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/before","description":"Only show notifications updated before the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"name":"sort","in":"query","description":"The property to sort the results by.","required":false,"schema":{"enum":["created","updated","pushed","full_name"],"type":"string","default":"full_name"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"visibility","in":"query","description":"Limit results to repositories with the specified visibility.","required":false,"schema":{"enum":["all","public","private"],"type":"string","default":"all"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"affiliation","in":"query","description":"Comma-separated list of values. Can include:  \n\\* `owner`: Repositories that are owned by the authenticated user.  \n\\* `collaborator`: Repositories that the user has been added to as a collaborator.  \n\\* `organization_member`: Repositories that the user has access to through being a member of an organization. This includes every repository on every team that the user is on.","required":false,"schema":{"type":"string","default":"owner,collaborator,organization_member"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"direction","in":"query","description":"The order to sort by. Default: `asc` when using `full_name`, otherwise `desc`.","required":false,"schema":{"enum":["asc","desc"],"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/repository"}},"examples":{"default":{"$ref":"#/components/examples/repository-items-default-response","summary":"Default response"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"x-github":{"category":"repos","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}},"post":{"operationId":"repos/create-for-authenticated-user","summary":"Create a repository for the authenticated user","description":"Creates a new repository for the authenticated user.\n\n**OAuth scope requirements**\n\nWhen using [OAuth](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/), authorizations must include:\n\n*   `public_repo` scope or `repo` scope to create a public repository. Note: For GitHub AE, use `repo` scope to create an internal repository.\n*   `repo` scope to create a private repository.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/repos#create-a-repository-for-the-authenticated-user","description":"API method documentation"},"tags":["repos"],"security":[{"oauth2":["repo"]},{"oauth2":["public_repo"]},{"personalAccessToken":["repo"]},{"personalAccessToken":["public_repo"]}],"responses":{"201":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/repository"},"examples":{"default":{"$ref":"#/components/examples/repository"}}}},"headers":{"Location":{"required":false,"schema":{"type":"string"},"deprecated":false,"style":"simple","explode":false,"example":"https://api.github.com/repos/octocat/Hello-World"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"400":{"$ref":"#/components/responses/bad_request","description":"Bad Request"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","examples":["Team Environment"],"description":"The name of the repository."},"private":{"type":"boolean","default":false,"description":"Whether the repository is private."},"team_id":{"type":"integer","description":"The id of the team that will be granted access to this repository. This is only valid when creating a repository in an organization."},"has_wiki":{"type":"boolean","default":true,"examples":[true],"description":"Whether the wiki is enabled."},"homepage":{"type":"string","description":"A URL with more information about the repository."},"auto_init":{"type":"boolean","default":false,"description":"Whether the repository is initialized with a minimal README."},"has_issues":{"type":"boolean","default":true,"examples":[true],"description":"Whether issues are enabled."},"description":{"type":"string","description":"A short description of the repository."},"is_template":{"type":"boolean","default":false,"examples":[true],"description":"Whether this repository acts as a template that can be used to generate new repositories."},"has_projects":{"type":"boolean","default":true,"examples":[true],"description":"Whether projects are enabled."},"has_downloads":{"type":"boolean","default":true,"examples":[true],"description":"Whether downloads are enabled."},"allow_auto_merge":{"type":"boolean","default":false,"examples":[false],"description":"Whether to allow Auto-merge to be used on pull requests."},"license_template":{"type":"string","examples":["mit"],"description":"The license keyword of the open source license for this repository."},"allow_merge_commit":{"type":"boolean","default":true,"examples":[true],"description":"Whether to allow merge commits for pull requests."},"allow_rebase_merge":{"type":"boolean","default":true,"examples":[true],"description":"Whether to allow rebase merges for pull requests."},"allow_squash_merge":{"type":"boolean","default":true,"examples":[true],"description":"Whether to allow squash merges for pull requests."},"gitignore_template":{"type":"string","examples":["Haskell"],"description":"The desired language or platform to apply to the .gitignore."},"delete_branch_on_merge":{"type":"boolean","default":false,"examples":[false],"description":"Whether to delete head branches when pull requests are merged"}}}}}},"x-github":{"category":"repos","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/user/teams":{"get":{"operationId":"teams/list-for-authenticated-user","summary":"List teams for the authenticated user","description":"List all of the teams across all of the organizations to which the authenticated user belongs. This method requires `user`, `repo`, or `read:org` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/) when authenticating via [OAuth](https://docs.github.com/apps/building-oauth-apps/).","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/teams#list-teams-for-the-authenticated-user","description":"API method documentation"},"tags":["teams"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/team-full"}},"examples":{"default":{"$ref":"#/components/examples/team-full-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"teams","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/search/code":{"get":{"operationId":"search/code","summary":"Search code","description":"Searches for query terms inside of a file. This method returns up to 100 results [per page](https://docs.github.com/rest/overview/resources-in-the-rest-api#pagination).\n\nWhen searching for code, you can get text match metadata for the file **content** and file **path** fields when you pass the `text-match` media type. For more details about how to receive highlighted search results, see [Text match metadata](https://docs.github.com/rest/reference/search#text-match-metadata).\n\nFor example, if you want to find the definition of the `addClass` function inside [jQuery](https://github.com/jquery/jquery) repository, your query would look something like this:\n\n`q=addClass+in:file+language:js+repo:jquery/jquery`\n\nThis query searches for the keyword `addClass` within a file's contents. The query limits the search to files where the language is JavaScript in the `jquery/jquery` repository.\n\n#### Considerations for code search\n\nDue to the complexity of searching code, there are a few restrictions on how searches are performed:\n\n*   Only the _default branch_ is considered. In most cases, this will be the `master` branch.\n*   Only files smaller than 384 KB are searchable.\n*   You must always include at least one search term when searching source code. For example, searching for [`language:go`](https://github.com/search?utf8=%E2%9C%93&q=language%3Ago&type=Code) is not valid, while [`amazing\nlanguage:go`](https://github.com/search?utf8=%E2%9C%93&q=amazing+language%3Ago&type=Code) is.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/search#search-code","description":"API method documentation"},"tags":["search"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"name":"q","in":"query","description":"The query contains one or more search keywords and qualifiers. Qualifiers allow you to limit your search to specific areas of GitHub. The REST API supports the same qualifiers as the web interface for GitHub. To learn more about the format of the query, see [Constructing a search query](https://docs.github.com/rest/reference/search#constructing-a-search-query). See \"[Searching code](https://docs.github.com/search-github/searching-on-github/searching-code)\" for a detailed list of qualifiers.","required":true,"schema":{"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/order","description":"Determines whether the first search result returned is the highest number of matches (`desc`) or lowest number of matches (`asc`). This parameter is ignored unless you provide `sort`."},{"name":"sort","in":"query","description":"Sorts the results of your query. Can only be `indexed`, which indicates how recently a file has been indexed by the GitHub search infrastructure. Default: [best match](https://docs.github.com/rest/reference/search#ranking-search-results)","required":false,"schema":{"enum":["indexed"],"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","incomplete_results","items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/code-search-result-item"}},"total_count":{"type":"integer"},"incomplete_results":{"type":"boolean"}}},"examples":{"default":{"$ref":"#/components/examples/code-search-result-item-paginated"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"},"503":{"$ref":"#/components/responses/service_unavailable","description":"Service unavailable"}},"x-github":{"category":"search","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/user/blocks":{"get":{"operationId":"users/list-blocked-by-authenticated-user","summary":"List users blocked by the authenticated user","description":"List the users you've blocked on your personal account.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#list-users-blocked-by-the-authenticated-user","description":"API method documentation"},"tags":["users"],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/simple-user"}},"examples":{"default":{"$ref":"#/components/examples/simple-user-items"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"users","subcategory":"blocking","githubCloudOnly":false,"enabledForGitHubApps":false}}},"/user/emails":{"get":{"operationId":"users/list-emails-for-authenticated-user","summary":"List email addresses for the authenticated user","description":"Lists all of your email addresses, and specifies which one is visible to the public. This endpoint is accessible with the `user:email` scope.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#list-email-addresses-for-the-authenticated-user","description":"API method documentation"},"tags":["users"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/email"}},"examples":{"default":{"$ref":"#/components/examples/email-items-2"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"users","subcategory":"emails","githubCloudOnly":false,"enabledForGitHubApps":false}},"post":{"operationId":"users/add-email-for-authenticated-user","summary":"Add an email address for the authenticated user","description":"This endpoint is accessible with the `user` scope.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#add-an-email-address-for-the-authenticated-user","description":"API method documentation"},"tags":["users"],"responses":{"201":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/email"}},"examples":{"default":{"$ref":"#/components/examples/email-items"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"requestBody":{"required":false,"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"emails":["octocat@github.com","mona@github.com"]},"required":["emails"],"properties":{"emails":{"type":"array","items":{"type":"string","examples":["username@example.com"],"minItems":1},"examples":[],"description":"Adds one or more email addresses to your GitHub account. Must contain at least one email address. **Note:** Alternatively, you can pass a single email address or an `array` of emails addresses directly, but we recommend that you pass an object using the `emails` key."}}},{"type":"array","items":{"type":"string","examples":["username@example.com"],"minItems":1}},{"type":"string"}]},"examples":{"default":{"value":{"emails":["octocat@github.com","mona@github.com","octocat@octocat.org"]}}}}}},"x-github":{"category":"users","subcategory":"emails","githubCloudOnly":false,"enabledForGitHubApps":false}},"delete":{"operationId":"users/delete-email-for-authenticated-user","summary":"Delete an email address for the authenticated user","description":"This endpoint is accessible with the `user` scope.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#delete-an-email-address-for-the-authenticated-user","description":"API method documentation"},"tags":["users"],"responses":{"204":{"description":"Response"},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"requestBody":{"required":false,"content":{"application/json":{"schema":{"oneOf":[{"type":"object","example":{"emails":["octocat@github.com","mona@github.com"]},"required":["emails"],"properties":{"emails":{"type":"array","items":{"type":"string","examples":["username@example.com"],"minItems":1},"description":"Email addresses associated with the GitHub user account."}},"description":"Deletes one or more email addresses from your GitHub account. Must contain at least one email address. **Note:** Alternatively, you can pass a single email address or an `array` of emails addresses directly, but we recommend that you pass an object using the `emails` key."},{"type":"array","items":{"type":"string","examples":["username@example.com"],"minItems":1}},{"type":"string"}]},"examples":{"default":{"value":{"emails":["octocat@github.com","mona@github.com"]}}}}}},"x-github":{"category":"users","subcategory":"emails","githubCloudOnly":false,"enabledForGitHubApps":false}}},"/user/issues":{"get":{"operationId":"issues/list-for-authenticated-user","summary":"List user account issues assigned to the authenticated user","description":"List issues across owned and member repositories assigned to the authenticated user.\n\n**Note**: GitHub's REST API v3 considers every pull request an issue, but not every issue is a pull request. For this\nreason, \"Issues\" endpoints may return both issues and pull requests in the response. You can identify pull requests by\nthe `pull_request` key. Be aware that the `id` of a pull request returned from \"Issues\" endpoints will be an _issue id_. To find out the pull\nrequest id, use the \"[List pull requests](https://docs.github.com/rest/reference/pulls#list-pull-requests)\" endpoint.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/issues#list-user-account-issues-assigned-to-the-authenticated-user","description":"API method documentation"},"tags":["issues"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/since","description":"Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"$ref":"#/components/parameters/direction","description":"The direction to sort the results by."},{"name":"sort","in":"query","description":"What to sort results by. Can be either `created`, `updated`, `comments`.","required":false,"schema":{"enum":["created","updated","comments"],"type":"string","default":"created"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"name":"filter","in":"query","description":"Indicates which sorts of issues to return. `assigned` means issues assigned to you. `created` means issues created by you. `mentioned` means issues mentioning you. `subscribed` means issues you're subscribed to updates for. `all` or `repos` means all issues you can see, regardless of participation or creation.","required":false,"schema":{"enum":["assigned","created","mentioned","subscribed","repos","all"],"type":"string","default":"assigned"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/labels","description":"A list of comma separated label names. Example: `bug,ui,@high`"},{"name":"state","in":"query","description":"Indicates the state of the issues to return. Can be either `open`, `closed`, or `all`.","required":false,"schema":{"enum":["open","closed","all"],"type":"string","default":"open"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/issue"}},"examples":{"default":{"$ref":"#/components/examples/issue-with-repo-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"issues","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/gists/public":{"get":{"operationId":"gists/list-public","summary":"List public gists","description":"List public gists sorted by most recently updated to least recently updated.\n\nNote: With [pagination](https://docs.github.com/rest/overview/resources-in-the-rest-api#pagination), you can fetch up to 3000 gists. For example, you can fetch 100 pages with 30 gists per page or 30 pages with 100 gists per page.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/gists#list-public-gists","description":"API method documentation"},"tags":["gists"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/since","description":"Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/base-gist"}},"examples":{"default":{"$ref":"#/components/examples/base-gist-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"x-github":{"category":"gists","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/markdown/raw":{"post":{"operationId":"markdown/render-raw","summary":"Render a Markdown document in raw mode","description":"You must send Markdown as plain text (using a `Content-Type` header of `text/plain` or `text/x-markdown`) to this endpoint, rather than using JSON format. In raw mode, [GitHub Flavored Markdown](https://github.github.com/gfm/) is not supported and Markdown will be rendered in plain format like a README.md file. Markdown content must be 400 KB or less.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/markdown#render-a-markdown-document-in-raw-mode","description":"API method documentation"},"tags":["markdown"],"security":[{"installationToken":[]}],"responses":{"200":{"description":"Response","content":{"text/html":{"schema":{"type":"string"}}},"headers":{"X-CommonMarker-Version":{"$ref":"#/components/headers/x-common-marker-version"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"requestBody":{"required":false,"content":{"text/plain":{"schema":{"type":"string"}},"text/x-markdown":{"schema":{"type":"string"}}}},"x-github":{"category":"markdown","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/repositories":{"get":{"operationId":"repos/list-public","summary":"List public repositories","description":"Lists all public repositories in the order that they were created.\n\nNote:\n- For GitHub Enterprise Server, this endpoint will only list repositories available to all users on the enterprise.\n- Pagination is powered exclusively by the `since` parameter. Use the [Link header](https://docs.github.com/rest/overview/resources-in-the-rest-api#link-header) to get the URL for the next page of repositories.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/repos#list-public-repositories","description":"API method documentation"},"tags":["repos"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/since-repo","description":"A repository ID. Only return repositories with an ID greater than this ID."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/minimal-repository"}},"examples":{"default":{"$ref":"#/components/examples/public-repository-items"}}}},"headers":{"Link":{"required":false,"schema":{"type":"string"},"deprecated":false,"style":"simple","explode":false,"example":"<https://api.github.com/repositories?since=364>; rel=\"next\""}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"x-github":{"category":"repos","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/search/users":{"get":{"operationId":"search/users","summary":"Search users","description":"Find users via various criteria. This method returns up to 100 results [per page](https://docs.github.com/rest/overview/resources-in-the-rest-api#pagination).\n\nWhen searching for users, you can get text match metadata for the issue **login**, **email**, and **name** fields when you pass the `text-match` media type. For more details about highlighting search results, see [Text match metadata](https://docs.github.com/rest/reference/search#text-match-metadata). For more details about how to receive highlighted search results, see [Text match metadata](https://docs.github.com/rest/reference/search#text-match-metadata).\n\nFor example, if you're looking for a list of popular users, you might try this query:\n\n`q=tom+repos:%3E42+followers:%3E1000`\n\nThis query searches for users with the name `tom`. The results are restricted to users with more than 42 repositories and over 1,000 followers.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/search#search-users","description":"API method documentation"},"tags":["search"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"name":"sort","in":"query","description":"Sorts the results of your query by number of `followers` or `repositories`, or when the person `joined` GitHub. Default: [best match](https://docs.github.com/rest/reference/search#ranking-search-results)","required":false,"schema":{"enum":["followers","repositories","joined"],"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"$ref":"#/components/parameters/order","description":"Determines whether the first search result returned is the highest number of matches (`desc`) or lowest number of matches (`asc`). This parameter is ignored unless you provide `sort`."},{"name":"q","in":"query","description":"The query contains one or more search keywords and qualifiers. Qualifiers allow you to limit your search to specific areas of GitHub. The REST API supports the same qualifiers as the web interface for GitHub. To learn more about the format of the query, see [Constructing a search query](https://docs.github.com/rest/reference/search#constructing-a-search-query). See \"[Searching users](https://docs.github.com/search-github/searching-on-github/searching-users)\" for a detailed list of qualifiers.","required":true,"schema":{"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","incomplete_results","items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/user-search-result-item"}},"total_count":{"type":"integer"},"incomplete_results":{"type":"boolean"}}},"examples":{"default":{"$ref":"#/components/examples/user-search-result-item-paginated"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"},"503":{"$ref":"#/components/responses/service_unavailable","description":"Service unavailable"}},"x-github":{"category":"search","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/user/starred":{"get":{"operationId":"activity/list-repos-starred-by-authenticated-user","summary":"List repositories starred by the authenticated user","description":"Lists repositories the authenticated user has starred.\n\nYou can also find out _when_ stars were created by passing the following custom [media type](https://docs.github.com/rest/overview/media-types/) via the `Accept` header:","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/activity#list-repositories-starred-by-the-authenticated-user","description":"API method documentation"},"tags":["activity"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/direction","description":"The direction to sort the results by."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"$ref":"#/components/parameters/sort","description":"The property to sort the results by. `created` means when the repository was starred. `updated` means when the repository was last pushed to."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/repository"}},"examples":{"default":{"$ref":"#/components/examples/repository-items-default-response","summary":"Default response"}}},"application/vnd.github.v3.star+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/starred-repository"}},"examples":{"alternative-response-with-star-creation-timestamps":{"$ref":"#/components/examples/starred-repository-items-alternative-response-with-star-creation-timestamps","summary":"Alternative response with star creation timestamps"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"}},"x-github":{"category":"activity","subcategory":"starring","githubCloudOnly":false,"enabledForGitHubApps":false}}},"/gists/starred":{"get":{"operationId":"gists/list-starred","summary":"List starred gists","description":"List the authenticated user's starred gists:","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/gists#list-starred-gists","description":"API method documentation"},"tags":["gists"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/since","description":"Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/base-gist"}},"examples":{"default":{"$ref":"#/components/examples/base-gist-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"}},"x-github":{"category":"gists","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/notifications":{"get":{"operationId":"activity/list-notifications-for-authenticated-user","summary":"List notifications for the authenticated user","description":"List all notifications for the current user, sorted by most recently updated.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/activity#list-notifications-for-the-authenticated-user","description":"API method documentation"},"tags":["activity"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/since","description":"Only show notifications updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"$ref":"#/components/parameters/before","description":"Only show notifications updated before the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"$ref":"#/components/parameters/participating","description":"If `true`, only shows notifications in which the user is directly participating or mentioned."},{"$ref":"#/components/parameters/all","description":"If `true`, show notifications marked as read."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/thread"}},"examples":{"default":{"$ref":"#/components/examples/thread-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"x-github":{"category":"activity","subcategory":"notifications","githubCloudOnly":false,"enabledForGitHubApps":false}},"put":{"operationId":"activity/mark-notifications-as-read","summary":"Mark notifications as read","description":"Marks all notifications as \"read\" removes it from the [default view on GitHub](https://github.com/notifications). If the number of notifications is too large to complete in one request, you will receive a `202 Accepted` status and GitHub will run an asynchronous process to mark notifications as \"read.\" To check whether any \"unread\" notifications remain, you can use the [List notifications for the authenticated user](https://docs.github.com/rest/reference/activity#list-notifications-for-the-authenticated-user) endpoint and pass the query parameter `all=false`.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/activity#mark-notifications-as-read","description":"API method documentation"},"tags":["activity"],"responses":{"202":{"description":"Response","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}},"examples":{"default":{"$ref":"#/components/examples/notifications-mark-read"}}}}},"205":{"description":"Reset Content"},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"}},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"read":{"type":"boolean","description":"Whether the notification has been read."},"last_read_at":{"type":"string","format":"date-time","description":"Describes the last point that notifications were checked. Anything updated since this time will not be marked as read. If you omit this parameter, all notifications are marked as read. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`. Default: The current timestamp."}}},"examples":{"default":{"value":{"read":true,"last_read_at":"2022-06-10T00:00:00Z"}}}}}},"x-github":{"category":"activity","subcategory":"notifications","githubCloudOnly":false,"enabledForGitHubApps":false}}},"/organizations":{"get":{"operationId":"orgs/list","summary":"List organizations","description":"Lists all organizations, in the order that they were created on GitHub.\n\n**Note:** Pagination is powered exclusively by the `since` parameter. Use the [Link header](https://docs.github.com/rest/overview/resources-in-the-rest-api#link-header) to get the URL for the next page of organizations.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/orgs#list-organizations","description":"API method documentation"},"tags":["orgs"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"$ref":"#/components/parameters/since-org","description":"An organization ID. Only return organizations with an ID greater than this ID."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/organization-simple"}},"examples":{"default":{"$ref":"#/components/examples/organization-simple-items"}}}},"headers":{"Link":{"required":false,"schema":{"type":"string"},"deprecated":false,"style":"simple","explode":false,"example":"<https://api.github.com/organizations?since=135>; rel=\"next\""}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"x-github":{"category":"orgs","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/search/issues":{"get":{"operationId":"search/issues-and-pull-requests","summary":"Search issues and pull requests","description":"Find issues by state and keyword. This method returns up to 100 results [per page](https://docs.github.com/rest/overview/resources-in-the-rest-api#pagination).\n\nWhen searching for issues, you can get text match metadata for the issue **title**, issue **body**, and issue **comment body** fields when you pass the `text-match` media type. For more details about how to receive highlighted\nsearch results, see [Text match metadata](https://docs.github.com/rest/reference/search#text-match-metadata).\n\nFor example, if you want to find the oldest unresolved Python bugs on Windows. Your query might look something like this.\n\n`q=windows+label:bug+language:python+state:open&sort=created&order=asc`\n\nThis query searches for the keyword `windows`, within any open issue that is labeled as `bug`. The search runs across repositories whose primary language is Python. The results are sorted by creation date in ascending order, which means the oldest issues appear first in the search results.\n\n**Note:** For [user-to-server](https://docs.github.com/developers/apps/identifying-and-authorizing-users-for-github-apps#user-to-server-requests) GitHub App requests, you can't retrieve a combination of issues and pull requests in a single query. Requests that don't include the `is:issue` or `is:pull-request` qualifier will receive an HTTP `422 Unprocessable Entity` response. To get results for both issues and pull requests, you must send separate queries for issues and pull requests. For more information about the `is` qualifier, see \"[Searching only issues or pull requests](https://docs.github.com/github/searching-for-information-on-github/searching-issues-and-pull-requests#search-only-issues-or-pull-requests).\"","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/search#search-issues-and-pull-requests","description":"API method documentation"},"tags":["search"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"name":"sort","in":"query","description":"Sorts the results of your query by the number of `comments`, `reactions`, `reactions-+1`, `reactions--1`, `reactions-smile`, `reactions-thinking_face`, `reactions-heart`, `reactions-tada`, or `interactions`. You can also sort results by how recently the items were `created` or `updated`, Default: [best match](https://docs.github.com/rest/reference/search#ranking-search-results)","required":false,"schema":{"enum":["comments","reactions","reactions-+1","reactions--1","reactions-smile","reactions-thinking_face","reactions-heart","reactions-tada","interactions","created","updated"],"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"$ref":"#/components/parameters/order","description":"Determines whether the first search result returned is the highest number of matches (`desc`) or lowest number of matches (`asc`). This parameter is ignored unless you provide `sort`."},{"name":"q","in":"query","description":"The query contains one or more search keywords and qualifiers. Qualifiers allow you to limit your search to specific areas of GitHub. The REST API supports the same qualifiers as the web interface for GitHub. To learn more about the format of the query, see [Constructing a search query](https://docs.github.com/rest/reference/search#constructing-a-search-query). See \"[Searching issues and pull requests](https://docs.github.com/search-github/searching-on-github/searching-issues-and-pull-requests)\" for a detailed list of qualifiers.","required":true,"schema":{"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","incomplete_results","items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/issue-search-result-item"}},"total_count":{"type":"integer"},"incomplete_results":{"type":"boolean"}}},"examples":{"default":{"$ref":"#/components/examples/issue-search-result-item-paginated"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"},"503":{"$ref":"#/components/responses/service_unavailable","description":"Service unavailable"}},"x-github":{"category":"search","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/search/labels":{"get":{"operationId":"search/labels","summary":"Search labels","description":"Find labels in a repository with names or descriptions that match search keywords. Returns up to 100 results [per page](https://docs.github.com/rest/overview/resources-in-the-rest-api#pagination).\n\nWhen searching for labels, you can get text match metadata for the label **name** and **description** fields when you pass the `text-match` media type. For more details about how to receive highlighted search results, see [Text match metadata](https://docs.github.com/rest/reference/search#text-match-metadata).\n\nFor example, if you want to find labels in the `linguist` repository that match `bug`, `defect`, or `enhancement`. Your query might look like this:\n\n`q=bug+defect+enhancement&repository_id=64778136`\n\nThe labels that best match the query appear first in the search results.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/search#search-labels","description":"API method documentation"},"tags":["search"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"name":"sort","in":"query","description":"Sorts the results of your query by when the label was `created` or `updated`. Default: [best match](https://docs.github.com/rest/reference/search#ranking-search-results)","required":false,"schema":{"enum":["created","updated"],"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"$ref":"#/components/parameters/order","description":"Determines whether the first search result returned is the highest number of matches (`desc`) or lowest number of matches (`asc`). This parameter is ignored unless you provide `sort`."},{"name":"q","in":"query","description":"The search keywords. This endpoint does not accept qualifiers in the query. To learn more about the format of the query, see [Constructing a search query](https://docs.github.com/rest/reference/search#constructing-a-search-query).","required":true,"schema":{"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"name":"repository_id","in":"query","description":"The id of the repository.","required":true,"schema":{"type":"integer"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","incomplete_results","items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/label-search-result-item"}},"total_count":{"type":"integer"},"incomplete_results":{"type":"boolean"}}},"examples":{"default":{"$ref":"#/components/examples/label-search-result-item-paginated"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"x-github":{"category":"search","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/search/topics":{"get":{"operationId":"search/topics","summary":"Search topics","description":"Find topics via various criteria. Results are sorted by best match. This method returns up to 100 results [per page](https://docs.github.com/rest/overview/resources-in-the-rest-api#pagination). See \"[Searching topics](https://docs.github.com/articles/searching-topics/)\" for a detailed list of qualifiers.\n\nWhen searching for topics, you can get text match metadata for the topic's **short\\_description**, **description**, **name**, or **display\\_name** field when you pass the `text-match` media type. For more details about how to receive highlighted search results, see [Text match metadata](https://docs.github.com/rest/reference/search#text-match-metadata).\n\nFor example, if you want to search for topics related to Ruby that are featured on https://github.com/topics. Your query might look like this:\n\n`q=ruby+is:featured`\n\nThis query searches for topics with the keyword `ruby` and limits the results to find only topics that are featured. The topics that are the best match for the query appear first in the search results.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/search#search-topics","description":"API method documentation"},"tags":["search"],"security":[{"installationToken":[]}],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."},{"name":"q","in":"query","description":"The query contains one or more search keywords and qualifiers. Qualifiers allow you to limit your search to specific areas of GitHub. The REST API supports the same qualifiers as the web interface for GitHub. To learn more about the format of the query, see [Constructing a search query](https://docs.github.com/rest/reference/search#constructing-a-search-query).","required":true,"schema":{"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"object","required":["total_count","incomplete_results","items"],"properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/topic-search-result-item"}},"total_count":{"type":"integer"},"incomplete_results":{"type":"boolean"}}},"examples":{"default":{"$ref":"#/components/examples/topic-search-result-item-paginated"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"}},"x-github":{"category":"search","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":true}}},"/user/gpg_keys":{"get":{"operationId":"users/list-gpg-keys-for-authenticated-user","summary":"List GPG keys for the authenticated user","description":"Lists the current user's GPG keys. Requires that you are authenticated via Basic Auth or via OAuth with at least `read:gpg_key` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#list-gpg-keys-for-the-authenticated-user","description":"API method documentation"},"tags":["users"],"parameters":[{"$ref":"#/components/parameters/page","description":"Page number of the results to fetch."},{"$ref":"#/components/parameters/per-page","description":"The number of results per page (max 100)."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/gpg-key"}},"examples":{"default":{"$ref":"#/components/examples/gpg-key-items"}}}},"headers":{"Link":{"$ref":"#/components/headers/link"}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"}},"x-github":{"category":"users","subcategory":"gpg-keys","githubCloudOnly":false,"enabledForGitHubApps":false}},"post":{"operationId":"users/create-gpg-key-for-authenticated-user","summary":"Create a GPG key for the authenticated user","description":"Adds a GPG key to the authenticated user's GitHub account. Requires that you are authenticated via Basic Auth, or OAuth with at least `write:gpg_key` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/users#create-a-gpg-key-for-the-authenticated-user","description":"API method documentation"},"tags":["users"],"responses":{"201":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gpg-key"},"examples":{"default":{"$ref":"#/components/examples/gpg-key"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"404":{"$ref":"#/components/responses/not_found","description":"Resource not found"},"422":{"$ref":"#/components/responses/validation_failed","description":"Validation failed"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["armored_public_key"],"properties":{"name":{"type":"string","description":"A descriptive name for the new key."},"armored_public_key":{"type":"string","description":"A GPG key in ASCII-armored format."}}}}}},"x-github":{"category":"users","subcategory":"gpg-keys","githubCloudOnly":false,"enabledForGitHubApps":false}}},"/user/packages":{"get":{"operationId":"packages/list-packages-for-authenticated-user","summary":"List packages for the authenticated user's namespace","description":"Lists packages owned by the authenticated user within the user's namespace.\n\nTo use this endpoint, you must authenticate using an access token with the `packages:read` scope.\nIf `package_type` is not `container`, your token must also include the `repo` scope.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/packages#list-packages-for-the-authenticated-user","description":"API method documentation"},"tags":["packages"],"parameters":[{"name":"package_type","in":"query","description":"The type of supported package. Packages in GitHub's Gradle registry have the type `maven`. Docker images pushed to GitHub's Container registry (`ghcr.io`) have the type `container`. You can use the type `docker` to find images that were pushed to GitHub's Docker registry (`docker.pkg.github.com`), even if these have now been migrated to the Container registry.","required":true,"schema":{"enum":["npm","maven","rubygems","docker","nuget","container"],"type":"string"},"deprecated":false,"allowEmptyValue":false,"style":"simple","explode":false,"allowReserved":false},{"$ref":"#/components/parameters/package-visibility","description":"The selected visibility of the packages. Only `container` package_types currently support `internal` visibility properly. For other ecosystems `internal` is synonymous with `private`. This parameter is optional and only filters an existing result set."}],"responses":{"200":{"description":"Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/package"}},"examples":{"default":{"$ref":"#/components/examples/packages-for-user"}}}}}},"x-github":{"category":"packages","subcategory":null,"githubCloudOnly":false,"enabledForGitHubApps":false}}},"/user/projects":{"post":{"operationId":"projects/create-for-authenticated-user","summary":"Create a user project","description":"Creates a user project board. Returns a `410 Gone` status if the user does not have existing classic projects. If you do not have sufficient privileges to perform this action, a `401 Unauthorized` or `410 Gone` status is returned.","deprecated":false,"externalDocs":{"url":"https://docs.github.com/rest/reference/projects#create-a-user-project","description":"API method documentation"},"tags":["projects"],"security":[{"installationToken":[]}],"responses":{"201":{"description":"Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/project"},"examples":{"default":{"$ref":"#/components/examples/project"}}}}},"304":{"$ref":"#/components/responses/not_modified","description":"Not modified"},"401":{"$ref":"#/components/responses/requires_authentication","description":"Requires authentication"},"403":{"$ref":"#/components/responses/forbidden","description":"Forbidden"},"422":{"$ref":"#/components/responses/validation_failed_simple","description":"Validation failed"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"body":{"type":["string","null"],"examples":["This project represents the sprint of the first week in January"],"description
[...]
